body {
  font-family: Arial, sans-serif;
  background-color: #ffe6e6ba;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background: #ffcccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  display: grid;
  place-items: center;
}

.navbar-dark .nav-link {
  color: black;
}

h1 {
  color: #333;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  size: 150px;
  align-items: center;
  font-size: 2.5rem;
}

h2 {
  margin-top: 10px;
  font-size: 2rem;
  font-weight: 600;
}
h4 {
  margin-top: 10px;
  font-size: 1.2rem;
  color: #6c757d;
}

.profile-pic {
  width: 180px;
  height: 180px;
  margin-right: auto;
  place-items: center;
}

button {
  padding: 10px 20px;
  background-color: #4d4dff;
  color: rgb(255, 250, 250);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #6796c7;
}
.center-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

.navbar-brand {
  font-size: 1.5rem;
}
.center-img {
  display: block;
  margin: 30px auto;
  width: 80%;
  max-width: 300px;
  border-radius: 15px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.btn-custom {
  background-color: #007bff;
  color: white;
  border: none;
}
.btn-custom:hover {
  background-color: #0056b3;
}
.social-icons {
  margin-top: 20px;
}

.social-icons a {
  margin: 0 10px;
  color: black;
  font-size: 24px;
}

.social-icons a:hover {
  color: #0056b3;
}
footer {
  margin-top: 40px;
  text-align: center;
  padding: 20px;
  background-color: #ff80b3;
  color: black;
}
.fade-in {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeIn 0.5s forwards;
}
@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
